In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

# pandas to import the dataset
# sklearn to perform the splitting

data=pd.read_csv('forestfires.csv')
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [10]:
# pandas to import the dataset
# sklearn to perform the splitting

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris


#Loading the Dataset
data=pd.read_csv('forestfires.csv')
#data.head()


#splitting
y=data.temp
x=data.drop('temp',axis=1)


#training
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

     X  Y month  day  FFMC    DMC     DC   ISI  RH  wind  rain   area
311  6  3   sep  sun  92.4  105.8  758.1   9.9  28   1.8   0.0  14.29
280  4  6   dec  fri  84.7   26.7  352.6   4.1  59   4.9   0.0   9.27
229  8  6   aug  sat  92.2   81.8  480.8  11.9  43   4.0   0.0  71.30
159  7  4   sep  fri  92.4  117.9  668.0  12.2  34   5.8   0.0   1.69
279  4  4   dec  mon  85.4   25.4  349.7   2.6  21   8.5   0.0   9.77

In [12]:
# pandas to import the dataset
# sklearn to perform the splitting

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris


#Loading the Dataset
data=pd.read_csv('forestfires.csv')
#data.head()


#splitting
y=data.temp
#x=data.drop('temp',axis=1)

In [13]:
# pandas to import the dataset
# sklearn to perform the splitting

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris


#Loading the Dataset
data=pd.read_csv('forestfires.csv')
data.head()


#splitting
y=data.temp
x=data.drop('temp',axis=1)


#training
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

x_train.shape

(413, 12)

In [14]:
# pandas to import the dataset
# sklearn to perform the splitting

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris


# loading the Dataset
data=pd.read_csv('forestfires.csv')
data.head()


# splitting
# split this data into labels and features.
# Using features, we predict labels. 
# using features (the data we use to predict labels), we predict labels (the data we want to predict)
y=data.temp
x=data.drop('temp',axis=1)


# training
# We usually split the data around 20%-80% between testing and training stages. 
# Under supervised learning, we split a dataset into a training data and test data in Python ML.
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

x_train.shape

(413, 12)

In [15]:
# pandas to import the dataset
# sklearn to perform the splitting

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris


# loading the Dataset
data=pd.read_csv('forestfires.csv')
data.head()


# splitting
# split this data into labels and features.
# Using features, we predict labels. 
# using features (the data we use to predict labels), we predict labels (the data we want to predict)
y=data.temp
x=data.drop('temp',axis=1)


# training
# We usually split the data around 20%-80% between testing and training stages. 
# Under supervised learning, we split a dataset into a training data and test data in Python ML.
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

x_train.shape

x_test.head()

     X  Y month  day  FFMC    DMC     DC   ISI  RH  wind  rain   area
475  2  5   jun  thu  93.7  121.7  350.2  18.0  40   9.4   0.0   3.19
488  4  4   aug  tue  95.1  141.3  605.8  17.7  71   7.6   0.0  46.70
327  6  5   sep  sat  92.2  102.3  751.5   8.4  32   2.2   0.0   0.00
452  7  4   aug  mon  91.5  238.2  730.6   7.5  65   4.0   0.0   0.00
194  2  2   aug  tue  94.8  108.3  647.1  17.0  22   4.5   0.0  10.01

In [17]:
# pandas to import the dataset
# sklearn to perform the splitting

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris


# loading the Dataset
data=pd.read_csv('forestfires.csv')
data.head()


# splitting
# split this data into labels and features.
# Using features, we predict labels. 
# using features (the data we use to predict labels), we predict labels (the data we want to predict)
y=data.temp
x=data.drop('temp',axis=1)


# training
# We usually split the data around 20%-80% between testing and training stages. 
# Under supervised learning, we split a dataset into a training data and test data in Python ML.
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

x_train.shape

x_test.head()

x_test.shape

(104, 12)

In [18]:
iris=load_iris()

In [19]:
 iris=load_iris()
x,y=iris.data,iris.target
x_train,x_test,y_train,y_test=train_test_split(x,y,
train_size=0.5,
test_size=0.5,
random_state=123)
y_test

array([1, 2, 2, 1, 0, 2, 1, 0, 0, 1, 2, 0, 1, 2, 2, 2, 0, 0, 1, 0, 0, 2,
       0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 1, 1, 2, 0, 0, 1, 1, 0, 2, 2,
       2, 2, 2, 1, 0, 0, 2, 0, 0, 1, 1, 1, 1, 2, 1, 2, 0, 2, 1, 0, 0, 2,
       1, 2, 2, 0, 1, 1, 2, 0, 2])